
body{
position:relative;
line-height: 1.4;
color:#000;
min-width: 320px;
overflow-x:hidden;
height: auto;
}

.navbar {
wight: 100%;
height: 70px;
box-shadow: 0 10px 10px rgba(0,0,0, .1);

}

.navbar .container {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu{
list-style-type:none;
padding-left: 0;
margin-bottom: 0;
}

.navbar-menu li{
display: inline-block;
}

.navbar-menu li a{
display: inline-block;
color:#000;
opacity:0.6;
text-decoration:none;
padding:50px;
font-size: 30px;
transition:all .17s ease-in-out

}

.navbar-menu li a:hover{
opacity:1;
}

.navbar-wrap {
display:flex;
flex-flow: row nowrap;
}

.callback{
margin-left:20px;
}

.navbar-brand{
font-weight:700;
font-size: 36px;
text-decoration: none;
color: #000;
}

.navbar-brand:hover{
color:coral;
transition:all .17s ease-in-out
}

.log-icon {
  position: absolute;
  right: 40px;
  height: 50px;
}
.reg-icon {
  position: absolute;
  right: 90px;
  height: 50px;

}
.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
}

.image-gallery img {
  width: 100%;
  height: auto;
}
.image-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 12fr));
  grid-gap: 10px;
  height: 450px;
  width:50;
  position:absolute;
  right:-300px;

  height:340px;

}
.image-main img {
  width: 100%;

}
@media only screen and (max-width: 1200px) {
 .navbar-menu li a{
display: inline-block;
color:#000;
opacity:0.6;
text-decoration:none;
padding:10px;
font-size: 36px;
transition:all .17s ease-in-out
}
.navbar {
wight: 100%;
height: 10px;
box-shadow: 0 10px 10px rgba(0,0,0, .1);

}
}
@media only screen and (max-width: 900px) {
 .navbar-menu li a{
display: inline-block;
color:#000;
opacity:0.6;
text-decoration:none;
padding:10px;
font-size: 10px;
transition:all .17s ease-in-out
}
.navbar {
wight: 100%;
height: 70px;
box-shadow: 0 10px 10px rgba(0,0,0, .1);
}
.navbar-brand{
font-weight:700;
font-size: 14px;
text-decoration: none;
color: #000;
}
.log-icon {
  position: absolute;
  right: 5px;
  height: 5px;
}
.reg-icon {
  position: absolute;
  right: 10px;
  height: 10px;

}
}
}




